<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Keys Repetition</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string></string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>volume.repeat</string>
			<key>Title</key>
			<string>Volume Repetition</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>200</real>
			<key>Key</key>
			<string>volume.repeat.frequency</string>
			<key>MaximumValue</key>
			<real>900</real>
			<key>MinimumValue</key>
			<real>0</real>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>program.repeat</string>
			<key>Title</key>
			<string>Program Repetition</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>300</real>
			<key>Key</key>
			<string>program.repeat.frequency</string>
			<key>MaximumValue</key>
			<real>900</real>
			<key>MinimumValue</key>
			<real>0</real>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Long Press Simulation</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>longpress</string>
			<key>Title</key>
			<string>Long Press</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>600</real>
			<key>Key</key>
			<string>longpress.length</string>
			<key>MaximumValue</key>
			<real>900</real>
			<key>MinimumValue</key>
			<real>0</real>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>debugmode</string>
			<key>Title</key>
			<string>Debug Mode</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>EPG Default Tab</string>
			<key>Key</key>
			<string>epg.defaultTab</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Titles</key>
			<array>
				<string>Now</string>
				<string>Tonight</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
